<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elevator</title>
</head>

<body>
    <h2>User {{userId}}</h2>
    <div>Elevator current floor : {{elevator.currentfloor}}</div>
        {% if not clientfloor %}
        <form action="{{ url_for('gettheelevator') }}" method="get">
            <label>Your current floor :
                <select name="clientfloor">
                    <option value = "choose">Choose a floor</option>
                    {% for floor in range(min,max+1) %}
                        <option value = "{{floor}}">{{floor}}</option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <button type="submit">Use the elevator</button>
        </form>
        {% else %}
        <div>Your current floor : {{clientfloor}}</div>
        {% endif %}
</body>
</html>